footer.footer
    div.container
        div.social-media
            div.social-media_text
                h1 Подписывайтесь на нас:
            div.social-media_icons.platforms
                img(src="/img/header/youtube.svg" alt="")
                img(src="/img/header/facebook.svg" alt="")
                img(src="/img/header/vk.svg" alt="")
                img(src="/img/header/odnklss.svg" alt="")
                img(src="/img/header/inst.svg" alt="")
            hr.end.divider
            div.additional-info
                div.conf
                    a © 2021 «Златоустовское телевидение»
                    a Политика конфиденциальности
                div.logo
                    img(src="/img/footer/xpagelogo.svg")



