header.header
    div.container
        div.info
            div.left
                div.more-news
                    h1.more-news_text Предложить новость
            div.right
                div.phone
                    h1.phone__text 8 (3513) 65-17-11
                div.search
                    img.search__img(src="/img/header/search-icon.svg" alt="").search__img
        div.nav-bar
            div.nav-bar__burger-container
                div.nav-bar__burger_menu(onclick="menu()")
                    button.nav-bar__burger-menu_icon.burger_lines.burger_black
            ul.bar.bar_display
                li.bar__item Новости
                li.bar__item Телепроекты
                li.bar__item Реклама
                li.bar__item.more Онлайн
                li.bar__item Программа передач
                li.bar__item.more Еще
            div.social-media
                div.media
                    h1.media__text Подписывайтесь на нас:
                div.social-icons.platforms
                    a(href="/")
                        img(src="/img/header/youtube.svg" alt="")
                    a(href="/")
                        img(src="/img/header/facebook.svg" alt="")
                    a(href="/")
                        img(src="/img/header/vk.svg" alt="")
                    a(href="/")
                        img(src="/img/header/odnklss.svg" alt="")
                    a(href="/")
                        img(src="/img/header/inst.svg" alt="")
        hr.end-line.divider



