extends common/layout

block content
    div.inside-post
        div.container
            h1.headline_top Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля
            div.container.second-container
                div.header-small
                    a.rubric_small-text(href="/") Главная
                    a.rubric_small-text(href="/") Новости
                    a.rubric_small-text(href="") Медицина
                div.tag-date
                    h2.tag.post_tag-text Медицина
                    h2.date.post_date-text 29/01/2021
                hr
                h1 Ещё одна главная новость дня — с 8 февраля злаоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят в профильный режим. Приказ Министерство здравоохранения Челябинской области выпустило 27 января.
                h2 Напомним, перепрофилировать родильный дом решили в связи с ежедневным большим приростом златоустовцев, заболевших ковид-19.  За это время лечение на госпитальной базе прошли свыше 1000 пациентов.
                div.video
                    img.video-img(src="/img/content/hospital.png" alt="")
                blockquote Александр Дорофеев
                b главный врач родильного дома г. Златоуста:
                h3 «На сегодняшний день в МПЦ находятся 46 больных. Большая часть из них будет переведена на базу квартала Медик и меньшая часть – на базу долечивания, в район метзавода. В воскресенье к нам приезжает дезостанция для обработки всех помещений. С 1 по 7 число проводится заключительная дезинфекция всего родильного дома. С 8 числа мы начинаем принимать беременных и рожениц нашего города и горнозаводской зоны».
                hr
                p Подготовка к возвращению профильной деятельности больниц проводится тщательным образом. Это полная дезинфекция помещений, забор ряда лабораторных анализов. И только после разрешения всех инстанций медицинское учреждение поступает к работе. Златоуст — не единственный город, где в связи со стабилизацией обстановки с коронавирусной инфекцией медицинские объекты возвращаются к плановому приёму пациентов. Решение по сокращению коечных мест для больных ковидом принимается оперативным штабом по борьбе с коронавирусной инфекцией при Правительстве Челябинской области. Оставшиеся ковид-базы перейдут в прежний режим работы при условии улучшения ситуации.
                div.titer
                    div.author
                        p.post_thin-text Автор материала
                        hr.divider-author.divider
                        p.post_fat-text Иван Анатольев
                    div.tags
                        p.post_thin-text Теги
                        hr.divider-tag.divider
                        p.post_fat-text Роддом / Вакцинация / Коронавирус
                    div.social
                        p.post_thin-text Поделиться
                        hr.divider-social.divider
                        div.social_icons.platforms
                            a(href="/")
                                img(src="/img/header/youtube.svg" alt="")
                            a(href="/")
                                img(src="/img/header/facebook.svg" alt="")
                            a(href="/")
                                img(src="/img/header/vk.svg" alt="")
                            a(href="/")
                                img(src="/img/header/odnklss.svg" alt="")
                            a(href="/")
                                img(src="/img/header/inst.svg" alt="")
        div.commentary_block
            div.container
                div.container.second-container
                    h1.commentary_block-header Оставьте свой комментарий
                    div.commentary_block-inputs
                        div.name
                            input.name__input.input_text(placeholder="Имя")
                        div.email
                            input.email__input.input_text(type="email" placeholder="E-mail")
                        div.file_block
                            label.file_text Прикрепить фото
                                input.file(type="file")
                    div.comment_block
                        input.comment.comment__input_text(placeholder="Комментарий")
                    button.submit-button(type="submit") Отправить
